/* *{
  margin: 0px;
  padding: 0px;
} */

.counterbox {
  display: flex;
  font-size: 15px;
}

.counterbox div {
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(78, 189, 170);
  color: rgb(15, 5, 5);
  border-radius: 15px;
  padding: 5px 10px;
}

.counterhead {
  border: 1px solid black;
}


.todhead{
  margin-top: 20px;
  text-align : center;
  border: 1px solid black;
  font-weight: bolder;
  font-size: 30px;
}

.count{

  color: red;

}

.input-cont{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.input-cont :nth-child(2){
  margin-left: 20px;
}

.inptod{
  width: 600px;
  padding: 5px 3px;
  outline: none;
}

.addbutton{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.addbutton div{
  background-color: rgb(77, 187, 187);
  padding: 5px 13px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 13px;
}

.stytod{
  padding: 10px;
  background-color: rgb(199, 66, 66);
  width: 50vw;
}


.parstytod{
  display: flex;
  justify-content: center;
}

.done{
  cursor: pointer;
  background-color: azure;
  padding: 3px 10px;
  border-radius: 4px;
}

.error{
  text-align: center;
  color: red;
  margin: 8px 0px;
}

.eachtodo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fulltodo{
  display: flex;
  background-color: rgb(89, 131, 73);
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
}

.delete{  
  background-color: rgb(17, 168, 115);  
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.edittodo{
  background-color: rgb(199, 66, 66);
  border: none;
  width: 100%;
  padding: 3px;
  outline: none;
  font-size: 16px;
}

.search{
  width: 300px;
  outline: none;
  margin-left: 2px;
  border-radius: 2px;
  padding: 4px 4px;
  font-size:17px;
}

.search-container{
  display: flex;
  align-items: center;
}

.searchfather{
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.searchtodo{
  background-color: black;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.entertodo{
  color: rgb(125, 33, 179);
  font-size: large;
  font-weight: 800;
}