.counterbox {
  display: flex;
  font-size: 15px;
}

.counterbox div {
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(78, 189, 170);
  color: rgb(15, 5, 5);
  border-radius: 15px;
  padding: 5px 10px;
}

.counterhead {
  border: 1px solid black;
}


.todhead{
  margin-top: 20px;
  text-align : center;
  border: 1px solid black;
  font-weight: bolder;
  font-size: 30px;
}

.count{

  color: red;

}

.input-cont{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.input-cont :nth-child(2){
  margin-left: 20px;
}

.inptod{
  width: 600px;
  padding: 5px 3px;
}